{% extends "baseA.html" %}
{% block title %}Herramientas{% endblock %}
{% block estilo %}
<link rel="stylesheet" href="/static/css/Herramientas.css" media=" screen"> {% endblock %}
{% block contenido %}
<section class="u-align-center u-clearfix u-section-1" id="sec-a76e">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="u-align-left u-border-2 u-border-grey-40 u-container-style u-grey-5 u-group u-radius-50 u-shape-round u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Herramientas</h2><span
          class="u-icon u-icon-circle u-text-black u-icon-1" data-href="/" data-target="_blank"><svg class="u-svg-link"
            preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-56c4"></use>
          </svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-56c4"
            style="enable-background:new 0 0 512 512;">
            <g>
              <g>
                <path
                  d="M508.177,245.995C503.607,240.897,393.682,121,256,121S8.394,240.897,3.823,245.995c-5.098,5.698-5.098,14.312,0,20.01    C8.394,271.103,118.32,391,256,391s247.606-119.897,252.177-124.995C513.274,260.307,513.274,251.693,508.177,245.995z M256,361    c-57.891,0-105-47.109-105-105s47.109-105,105-105s105,47.109,105,105S313.891,361,256,361z">
                </path>
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M271,226c0-15.09,7.491-28.365,18.887-36.53C279.661,184.235,268.255,181,256,181c-41.353,0-75,33.647-75,75    c0,41.353,33.647,75,75,75c37.024,0,67.668-27.034,73.722-62.358C299.516,278.367,271,255.522,271,226z">
                </path>
              </g>
            </g>
          </svg></span>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-2"><span
                        class="u-icon u-icon-circle u-text-custom-color-1 u-icon-2"><svg class="u-svg-link"
                          preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-97ab"></use>
                        </svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-97ab">
                          <path
                            d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm112 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0">
                          </path>
                        </svg></span>
                      <a href="editar" data-page-id="26252101"
                        class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-1">Editar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}